/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* Fonts */

@import url(//fonts.googleapis.com/css?family=Yanone+Kaffeesatz|Bad+Script|PT+Sans+Caption|Inconsolata);

@font-face {
    font-family: 'entypo';
    src: url('../fonts/entypo.eot');
    src: url('../fonts/entypo.eot?#iefix') format('embedded-opentype'),
         url('../fonts/entypo.woff') format('woff'),
         url('../fonts/entypo.ttf') format('truetype'),
         url('../fonts/entypo.svg#entypo') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Rouge-Script';
    src:url('../fonts/Rouge-Script.woff') format('woff'),
        url('../fonts/Rouge-Script.svg#Rouge-Script') format('svg'),
        url('../fonts/Rouge-Script.eot'),
        url('../fonts/Rouge-Script.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'entypo-social';
    src: url('../fonts/entypo-social.eot');
    src: url('../fonts/entypo-social.eot?#iefix') format('embedded-opentype'),
         url('../fonts/entypo-social.woff') format('woff'),
         url('../fonts/entypo-social.ttf') format('truetype'),
         url('../fonts/entypo-social.svg#entypo-social') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bad Script';
    src: url('../fonts/BadScript-Regular.eot');
    src: url('../fonts/BadScript-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BadScript-Regular.woff') format('woff'),
         url('../fonts/BadScript-Regular.ttf') format('truetype'),
         url('../fonts/BadScript-Regular.svg#BadScript-Regular') format('svg');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Museo 500';
    src: url('../fonts/museo_500.eot');
    src: url('../fonts/museo_500.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museo_500.woff') format('woff'),
         url('../fonts/museo_500.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}


/* End Fonts */

/* color
pink : rgba(166,125,143,1);
violet : rgba(88,55,88,1);
brown : rgba(166,131,109,1);
chocolate : rgba(113,87,79,1);
white : rgba(244,244,244,1);
*/


/* BODY */

.sectionH1 {
    font-family: 'Museo 500';
    margin: 0em 0.67em;
    padding-top: 0.67em;
    display: inline-block;
} 
 
 .boxTransparentWhite {
    background-color: rgba(244,244,244,.8);
    padding: 1.5em;
 }

/*.boxTransparent {
    background-color: rgba(11,77,135,.8);
    padding: 0.25em;
 }*/

.wrapper {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* HEADER - NAVIGATION */

.mobile {
        display: block;
        text-decoration: none;
}

.mobile-menu-opener {
        position: fixed;
        background-color: rgba(244,244,244,1);
        top: 10px;
        left: 50%;
        padding: 0.02085em 0.25em;
        margin-left: -0.7083em;
        color: rgb(0,0,0);
        text-decoration: none;
        font-size: 1.5em;
        z-index: 1;
}

.mobile-menu-closer {
    text-decoration: none;
    font-size: 1.5em;
}

 #nav-menu { 
    position: fixed;
    display: block;

    width: 10em;
    height: auto;
    
    top: -138px;

    left: 50%;
    margin-left: -5em;

    background-color : rgba(244,244,244,.95);    
    
    text-align: center;

    overflow: hidden;
    z-index: 2;
    }

nav ul {
    padding: 0 0 0 0px;
    margin: 0.5em 0 0.5em 0;
}

nav li {
	display: block;
    list-style: none;
}

nav a {
   color: rgb(150,150,150);
   font-family: 'PT Sans Caption', sans-serif;
   text-decoration: none;
   padding: 0 20px 0 20px;
}

nav li.active span {
    color: rgba(0,0,0, 1);
    border-bottom: 2px black solid;
}

nav a:hover { 
    color: rgba(0,0,0,0.75);
}



/* SECTION HOME */

#home {
    display: block;
    position: relative;
    width: 100%;
    height: 560px;
}

#img-home-background {
    position: relative;
    width:100%;
    height:100%;
}

.img-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-position: center center;
    background-size: cover;
    z-index: -1;
}

#brand {
    top: 15%;
    left: 50%;
    margin-left: -8.9375em;
    color: black;
    position: absolute;
}

.brandH1 {
    font-family: 'Rouge-Script';
    font-size: 2.8em;
    margin: 0;

}

#byFlo {
    top: 25%;
    left: 45%;
    font-size: 1em;
    color: white;
    position: absolute;
    font-family: 'Museo 500';
    color: rgba(91,28,112,1);
}

#brandComment {
    font-family: "Tangier Medium";
    font-style: normal;
    font-weight: 400;
    top: 40%;
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    color: white;
    position: absolute;
}

/* SECTION ABOUT */

#about {
        background-color: rgba(232,231,215, 1);
}

#about-div-img {
    position: relative;
    display: inline-block;
    width: 6em;
    top: -1em;
    left: 3em;
}

#about-img {
    width: 6em;
    box-shadow: 0 0 0 8px #fff;
    border-radius: 3em;
}

#about-text {
    quotes: "\201C" "\201D" "\2018" "\2019";
    display: inline-block;
    position: relative;
    text-align: justify;
    font-size: 1em;
}

#about-text p {
    margin: 1em 40px;
}

/* SECTION PRODUCT */

#product-wrap {
    display: inline-block;
    height: 100%;
}

#nav-product { 
    width: 120px;
    display: inline-block;
}

#product-photo {
    display: inline-block;
}



/* SECTION CONTACT */

#contact {
    background: url(../img/bg/contact.jpg) no-repeat ;
    /*height: 800px;*/
}

#contact h1, .contactText {
    color: rgb(255,255,255);
}

.contactText {
    margin-left: 0.5em;
}

.contact-wrapper {
    display: block;
    width: 15em;
    position: relative;
    /*margin-top: 10%;*/
    left: 50%;
    margin-left: -7.5em;
}


.contactBox {
    display: inline-block;
    width: 15em;
    height: 10em;
    text-align: center;
    margin: .5em 0;
    background-color: rgba(244,244,244,.8);
}

.contactBox p {
    color: rgb(0,0,0);
}
.contactBox p a:hover, .contactBox p a:visited, .contactBox p a:link, .contactBox p a:active {
   text-decoration: none;
   color: rgb(0,0,0);
}
    
.contactBox a:hover, .contactBox a:visited, .contactBox a:link, .contactBox a:active {
   text-decoration: none;
   color: rgb(0,0,0);
}
    
.entypo {
    font-family: 'entypo';
    font-size: 4em;
    color: #EDE24C;
    text-shadow: 1px -1px 10px black;
}

.entypoSocial {
    font-family: 'entypo-social';
    font-size: 4em;
    color: #3b5998;
    text-shadow: 0px 0px 0px;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

@media screen and (min-width: 29.25em) {

#nav-menu {
    width: 25em;
    height: 40px;
    
    top: 0px;
    
    margin-left: -12.5em;

    border-top:1px solid rgb(0,0,0);

    display: inline-block;
}

nav li {
    display: inline-block;
}

.mobile { display: none; }


#brand {
    top: 50%;
}

#byFlo {
    top: 59%;
}

#brandComment {
    top: 75%;
}

}
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}